*.vpp.bak*
*.class
/06-Code/Project/build/
/06-Code/Project/dist/
/06-Code/Unit 1/FileManager/FileManager/build/
/06-Code/Unit 1/FileManager/FileManager/dist/
/06-Code/Unit 1/FileManager/FileManager/nbproject/private/
/06-Code/Unit 1/FileManager/UseOfFileManager/build/
/06-Code/Unit 1/FileManager/UseOfFileManager/nbproject/private/
/06-Code/Unit 1/Project/build/
/06-Code/Unit 1/Project/dist/
/06-Code/Unit 1/Project/nbproject/private/
/06-Code/Unit 2/Borradores/25GUIProject/build/
/06-Code/Unit 2/Borradores/25GUIProject/dist/
/06-Code/Unit 2/Borradores/25GUIProject/nbproject/private/
/06-Code/Unit 2/Borradores/Beverage and Order/build/
/06-Code/Unit 2/Borradores/Beverage and Order/nbproject/private/
/06-Code/Unit 2/Borradores/CodigoBorrador/FileManager/FileManager/build/
/06-Code/Unit 2/Borradores/CodigoBorrador/FileManager/FileManager/dist/
/06-Code/Unit 2/Borradores/CodigoBorrador/FileManager/FileManager/nbproject/private/
/06-Code/Unit 2/Borradores/CodigoBorrador/FileManager/UseOfFileManager/build/
/06-Code/Unit 2/Borradores/CodigoBorrador/FileManager/UseOfFileManager/nbproject/private/
/06-Code/Unit 2/Borradores/CodigoBorrador/GUI/GUIExample/build/
/06-Code/Unit 2/Borradores/CodigoBorrador/GUI/GUIExample/nbproject/private/
/06-Code/Unit 2/Borradores/CodigoBorrador/Project/build/
/06-Code/Unit 2/Borradores/CodigoBorrador/Project/dist/
/06-Code/Unit 2/Borradores/CodigoBorrador/Project/nbproject/private/
/06-Code/Unit 2/Borradores/ManejoDeJSON/build/
/06-Code/Unit 2/Borradores/ManejoDeJSON/nbproject/private/
/06-Code/Unit 2/Liquor Store Project VS 2/build/
/06-Code/Unit 2/Liquor Store Project VS 2/dist/